<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정 화면</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('#updateYes').click(function(){
			$('#updatePost').submit(function(event){
				if($('#boardTitle').val().length<1){
					$('#boardTitle').attr('placeholder','제목을 입력해주세요.');
					$('#boardTitle').focus();
					return false;
				}else if($('#boardContent').val().length<1){
					$('#boardContent').attr('placeholder','내용을 입력해주세요.');
					$('#boardContent').focus();
					return false;
				}
			});
		});
	});	


</script>


</head>
<body>
BoardModify<br>
<a th:href="@{/boardList}"><button th:text="글목록보기"></button></a>
<form action="/boardModifyAction" id="updatePost" method="post">
	<table>
		<tr>
			<td th:text="boardNo"></td>
			<td><input th:value="${boardNo}" id="boardNo" type="text" name="boardNo" readonly="readonly" size="30"></td>
		</tr>
		<tr>
			<td th:text="boardTitle"></td>
			<td><input th:value="${board.boardTitle}" id="boardTitle" type="text" name="boardTitle" size="30"></td>
		</tr>
		<tr>
			<td th:text="boardContent"></td>
			<td><textarea name="boardContent" id="boardContent" th:text="${board.boardContent}" rows="10" cols="31"></textarea>
			</td>
		</tr>
		<tr>
			<td th:text="Name"></td>
			<td><input th:value="${board.boardUser}" id="boardUser" type="text" name="boardUser" readonly="readonly" size="30"></td>
		</tr>
		<tr>
			<td th:text="boardPw"></td>
			<td><input type="text" name="boardPw" size="30"></td>
		</tr>
		<tr>
		<td></td>
		<th>
			<input th:value="글수정" id="updateYes" type="submit">
			<input th:value="초기화" type="reset"> 
		</th>
		</tr>	
	</table>
		
</form>

</body>
</html>