<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 입력 화면</title>
</head>
<body>
<a th:href="@{/boardList}"><button th:text="글목록보기"></button></a>
<form action="/boardAddAction" method="post">
	<table>
		<tr>
			<td th:text="boardPw"></td>
			<td><input type="text" name="boardPw" size="30"></td>
		</tr>
		<tr>
			<td th:text="boardTitle"></td>
			<td><input type="text" name="boardTitle" size="30"></td>
		</tr>
		<tr>
			<td th:text="boardContent"></td>
			<td><textarea name="boardContent" rows="10" cols="31">내용입력 해주세요</textarea>
			</td>
		</tr>
		<tr>
			<td th:text="Name"></td>
			<td><input type="text" name="boardUser" size="30"></td>
		</tr>
		<tr>
		<td></td>
		<th>
			<input th:value="글입력" type="submit">
			<input th:value="초기화" type="reset"> 
		</th>
		</tr>	
	</table>
		
</form>

</body>
</html>