<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
</head>
<body>
<a th:text="${boardCount}"></a>
<table border=1>
	<tr>
		<td>boardNo</td>
		<td>boardTitle</td>
		<td>boardUser</td>
		<td>boardDate</td>
		<td>수정</td>
		<td>삭제</td>
	</tr>
	<tr th:each="l : ${list}">
		<td th:text="${l.boardNo}"></td>
		<td th:text="${l.boardTitle}"></td>
		<td th:text="${l.boardUser}"></td>
		<td th:text="${l.boardDate}"></td>
		<td>수정</td>
		<td>삭제</td>
	</tr>	
</table>
	<a th:href="@{/boardList(currentPage=0)}" ><button th:text="처음으로"></button></a>
	<a th:if="${currentPage > 0}" th:href="@{/boardList(currentPage=${currentPage-1})}" ><button th:text="이전"></button></a>
	<a th:if="${lastPage >= currentPage}" th:href="@{/boardList(currentPage=${currentPage+1})}" ><button th:text="다음"></button></a>
	<a th:href="@{/boardList(currentPage=${lastPage})}" ><button th:text="끝으로"></button></a><br/>
	<a th:href="@{/boardAdd}" ><button th:text="글등록하기"></button></a> 

</body>
</html>

